<?xml version="1.0" encoding="utf-8"?>

<!--  Copyright (C) 2014 Vivek Panyam.
 
     This program is free software: you can redistribute it and/or  modify
     it under the terms of the GNU Affero General Public License, version 3,
     as published by the Free Software Foundation.
 
     This program is distributed in the hope that it will be useful,
     but WITHOUT ANY WARRANTY; without even the implied warranty of
     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
     GNU Affero General Public License for more details.
 
     You should have received a copy of the GNU Affero General Public License
     along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.vivekpanyam.TestApp"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="15"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:label="EvolveWrapper" android:icon="@drawable/ic_launcher">
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy1"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy2"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy3"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy4"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy5"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy6"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy7"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy8"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy9"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy10"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy11"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy12"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy13"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy14"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy15"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy16"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy17"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy18"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy19"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy20"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy21"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy22"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy23"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy24"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy25"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy26"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy27"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy28"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy29"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy30"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy31"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy32"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy33"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy34"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy35"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy36"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy37"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy38"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy39"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy40"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy41"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy42"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy43"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy44"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy45"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy46"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy47"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy48"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy49"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy50"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy51"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy52"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy53"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy54"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy55"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy56"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy57"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy58"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy59"></activity>
        <activity android:name="com.vivekpanyam.Evolve.dummy.Dummy60"></activity>
        <activity android:name="com.example.MainActivity"></activity>
        <activity android:name="com.vivekpanyam.TestApp.MyActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
